
body {
  background-color: lightgray;
}

.header {
  height: 50px;
  background-color: white;
}

.title {
  text-align: center;
}

.main {
  min-height: calc(100vh - 190px);
}

.footer {
  padding: 10px 0 0 0;
  margin: 30px 0 0 0;
  height: 90px;
  background-color: white;
}

.footer-content {
  margin: 0;
  font-size: 12px;
  list-style: none;
}

.footer-content li {
  margin: 0;
}

.row {
  margin-top: 20px;
}

/* 便利系 class */

.center {
  margin: auto;
}

.d-none {
  display: none;
}

/* 画像(canvas)枠 */

#cnvs {
  width: 100%;
}

.img-frame {
  padding: 15px;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  position: relative;
}

/* ロード画面 */

.loading {
	width: 60px;
	height: 60px;
  margin: auto;
  position: absolute;
  bottom: calc(50% - 30px);
  left: calc(50% - 30px);
	border: 8px solid rgba(255, 255, 255, 0.6);
	border-top-color: rgba(255, 255, 255, 1.0);
	border-radius: 50%;
	animation: spin 1.2s linear 0s infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.loading-bg {
  width: calc(100% - 30px);
  height: calc(100% - 38px);
  top: 15px;
  left: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 吹き出し */

.balloon {
	position: relative;
	display: inline-block;
	padding: 20px;
	width: auto;
	text-align: center;
	background: white;
  border-radius: 10px 10px 10px 10px;
	z-index: 0;
}


/* メッセージ */

#msg {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
